<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement">
        <sitecore.experienceeditor.speak.requests>
            <request name="ExperienceEditor.LockItem" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.LockItem.ToggleLockRequest, Sitecore.Support.206645" patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.LockItem.ToggleLockRequest, Sitecore.ExperienceEditor.Speak.Ribbon']"/>
        </sitecore.experienceeditor.speak.requests>
    </sitecore>
</configuration>